  <div class= "container" style=background-color:#EEEEEE;>
    <div class="row">
      <div class="col-md-6 col-md-offset-1" style="margin-top: 10px;">
        <%= render 'users/flash_messages' %>
         <!--ツイート検索フォーム-->
        <%= render 'search_form' %>
      </div>
    </div></br>
    
    <!--全てのユーザーのタイムライン-->
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <% if @tweets.exists? %>
          <%= render "tweet_timeline", tweets: @tweets %>
        <% else %>
          <h3>つぶやきはありません</h3>
        <% end %>
      </div>
      
      <!--ツイートをランダムに4件表示する-->
      <div class="col-md-4 col-md-offset-1">
        <%= render "random", random: @random %>
      </div>
    </div>
  </div>
