  <div class="container" style="background-color: #EEEEEE;">
    <div class="row">
      <div class="col-md-5 col-md-offset-3">
        <div class="row">
          <%= form_with model:@tweet, local:true do |f| %>
            <table class="table">
              <tr>
                <th class="tweet-formtitle"><h3>失敗をつぶやく</h3></th>
              </tr></br>
              <tr>
                <td class="tweet-form" height="60"><%= f.attachment_field :image %></td>
              </tr>
              <tr>
                <td class="tweet-form" height="80"><%= f.text_area :body, :size=>"62", placeholder:"つぶやきたい内容をこちらに" %></td></br>
              </tr>
              <tr>
                <td class="tweet-btn"><%= f.submit "つぶやく", class:"btn btn-lg btn-primary pull-center" %></td>
              </tr>
            </table>
          <% end %>      
      </div>
    </div>
  </div>
