  <div class="container" style="background-color: #EEEEEE">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table class="table">
            <tr>
              <th class="user-formtitle" height="50"><h3>ユーザーログイン</h3></th>
            </tr></br>
            <tr>
              <td class="user-form" width="120" height="70">メールアドレスと</br>パスワードを入力してください</th>
            </tr>
            <tr>
              <td class="user-form"><%= f.email_field :email, autofocus: true, placeholder:"メールアドレス" %></td>
            </tr>
            <tr>
              <td class="user-form" height="70"><%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード" %></td>
            </tr>
            <tr>
              <td class="user-btn"><%= f.submit "サインイン", class: "btn btn-lg btn-primary pull-center" %></td>
            </tr>
          </table>
        <% end %>
      </div>          
    </div>
  </div>
  