// Place all the styles related to the Relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.relationship-form{
  border-left: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  border-top: 0px !important;
  background-color: #FFFFFF;
  text-align: center ;
}