// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tweet-container {
  padding-right: 0;
  padding-left: 0;
  width: 58.33333%;
  position: relative;
  min-height: 1px;
}