// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.font-weight-bold{
  text-align:  center;
  font-weight: bold;
}
.user-formtitle{
  border:           1px solid #ddd !important;
  text-align:       center ;
  background-color: #000080;
  color:            #FFFFFF;
}
.user-form{
  border-left:      1px solid #ddd !important;
  border-right:     1px solid #ddd !important;
  border-top:       0px !important;
  background-color: #FFFFFF;
  text-align:       center ;
}
.user-btn{
  border-left:      1px solid #ddd !important;
  border-right:     1px solid #ddd !important;
  border-bottom:    1px solid #ddd !important;
  border-top:       0px !important;
  text-align:       center;
  background-color: #FFFFFF;
}

.user-edit-formtitle{
  border:           1px solid #ddd !important;
  text-align:       center ;
  background-color: #000080;
  color:            #FFFFFF;
}
.user-edit-form{
  border-left:      1px solid #ddd !important;
  border-right:     1px solid #ddd !important;
  border-top:       0px !important;
  background-color: #FFFFFF;
}
.tweet-formtitle{
  border:           1px solid #ddd !important;
  text-align:       center ;
  background-color: #000080;
  color:            #FFFFFF;
}
.tweet-form{
  border-left:      1px solid #ddd !important;
  border-right:     1px solid #ddd !important;
  border-top:       0px !important;
  background-color: #FFFFFF;
}
.tweet-btn{
  border-left:      1px solid #ddd !important;
  border-right:     1px solid #ddd !important;
  border-bottom:    1px solid #ddd !important;
  border-top:       0px !important;
  text-align:       center;
  background-color: #FFFFFF;
}
.tweet-show{
  border-bottom: 1px solid #ddd !important;
}
.comment-show{
  border-bottom: 1px solid #ddd !important;
}

.tweet-timeline-th{
  border-left:      1px solid #ddd !important;
  border-bottom:    1px solid #ddd !important;
  background-color: #FFFFFF;
}
.tweet-timeline-td{
  border-right:     1px solid #ddd !important;
  border-bottom:    1px solid #ddd !important;
  background-color: #FFFFFF;
}

.flash-notice{
  color: #0099FF;
}